<html>

<head>

</head>

<body>

<!--Source was written by suma411.blogspot.com-->

<script language="JavaScript" type="text/javascript">

 var message = " Selamat Datang di Website Suma 411 ";
 var count = 0;
 var i = 0;
 var gap = message.length;

 while (i < gap) { i++; message = " " + message; }

function statScroll() {
 document.scroll.msg.value = message.substring(count, message.length);
 count++;
 if (message.length == count) { count = 0; }
 window.setTimeout("statScroll()", 120);
 }
window.onload = statScroll;

//-->
</script>

<center>

<form name="scroll">
  <input type="text" name="msg" value=" " size="20" style=color:red;font-family:Arial;font-weight:bold;font-size:100px;>
</form>

</center>

<!--Source was written by suma411.blogspot.com-->

</body>

</html>